<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="( (isHandset$ | async) || loginStatus) === false">
    <mat-toolbar><span (click)="drawer.toggle()">Menu</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="['']">Home</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="loginStatus">
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span (click)="drawer.toggle()">top toolbar [{{loginStatus}}]</span>
        <button mat-stroked-button color="accent" (click)="onToggle()">Accent</button>
      </mat-toolbar>
    </ng-container>

    <main style="border:1px solid red">
    <!-- Add Content Here -->
    <ng-content></ng-content>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
